/*example 1*/
ul {
  background-color: blue;
  border-bottom: 1px dotted #999;
  list-style: none;
  margin: 15px;
  width: 150px;
  padding-left: 0;
}
 
li {
  background-color: #FFF;
  border: 1px dotted #999;
  border-bottom-width: 0;
  font: 1.2em/1.333 Verdana, Arial, sans-serif;
}
 
li a {
  color: #000;
  display: block;
  height: 100%;
  padding: 0.25em 0;
  text-align: center;
  text-decoration: none;
}
 
li a:hover { background-color: #EFEFEF; }

/*example 2*/

body > ul { border-width: 0; }
 
ul > li {
  border: 1px solid #FFF;
  border-width: 1px 0 0 0;
}
 
li > a {
  background-color: #666;
  color: white;
  font-weight: bold;
}
 
li:first-child a { color: yellow; }
 
li > a:hover{ background-color: #999; }

/*example 3*/

body > ul { border-width: 0; }
 
ul > li {
  border: 1px solid #FFF;
  border-width: 1px 0 0 0;
}
 
li > a {
  background-color: #666;
  color: white;
  font-weight: bold;
}
 
li:first-child a { color: yellow; }
 
li > a:hover{ background-color: #999; }

/*example 4*/

li { opacity: 0.9; }
 
li:hover{ opacity: 1; }

/*example 5*/

li a:hover { text-shadow: 2px 2px 4px #333; }

/*example 6*/

li:nth-child(2n+1) a {
  background-color: #333;
}
 
li:nth-child(n) a:hover {
  background-color: #AAA;
  color: #000;
} 
 
li:first-child > a:hover{ color: yellow; }
